@import "tailwindcss";

:root {
  --bg-color: #ffffff;
  --text-color: #FF7D20;

 --container-color: linear-gradient(
  160deg,
  #ffb347 0%,
  #FF7D20 35%,
  #e65c00 65%,
  #b34700 100%
);

  --bg-second:#F3F3FF;
}

:root[data-theme='dark'] {
  --bg-color: #1E1E1E;
  --text-color: #04CD6F;

--container-color: linear-gradient(
  160deg,
  #0bbf6b 0%,
  #048B4C 35%,
  #035c2e 65%,
  #021f0d 100%
);

  --project: #0f172a;

  --bg-second:#424242;
}